:host {
    nav {
        display: flex;
        margin-top: 5px;

        ol {
            display: flex;
            font-size: 14px;
            color: var(--gray-4);
            font-family: "Exo 2";

            span {
                padding: 0px 5px;
            }
        }
    }
}