<nav class="sidenav">
    <a href="#">
        <img src="https://www.streetsales.com.br/public/assets/img/Logos_Empresas/Ailos.png" width="60"
            alt="Logo da Ailos" />
    </a>
    <a href="#"><span class="material-symbols-outlined">menu</span></a>
    <a href="#"><span class="material-symbols-outlined">search</span></a>
    <a href="#"><span class="material-symbols-outlined">star</span></a>
    <a href="#"><span class="material-symbols-outlined">sms</span></a>
    <a href="#"><span class="material-symbols-outlined">tune</span></a>
    <a href="#"><span class="material-symbols-outlined">account_balance</span></a>
</nav>