:host {
    .sidenav {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--ailos);
        width: 90px;
        height: 100%;

        a {
            text-decoration: none;
            margin-bottom: 20px;
            cursor: pointer;

            &:first-child {
                margin: 30px 0px;
            }

            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        app-icon + app-icon {
            margin-bottom: 40px;
        }
    }
}