<nav class="sidenav">
    <a href="#">
        <img src="https://www.streetsales.com.br/public/assets/img/Logos_Empresas/Ailos.png" width="60"
            alt="Logo da Ailos" />
    </a>
    <a href="#"><app-icon icon="menu" [size]="30"></app-icon></a>
    <a href="#"><app-icon icon="search" [size]="30"></app-icon></a>
    <a href="#"><app-icon icon="star" [size]="30"></app-icon></a>
    <a href="#"><app-icon icon="sms" [size]="30"></app-icon></a>
    <a href="#"><app-icon icon="tune" [size]="30"></app-icon></a>
    <a href="#"><app-icon icon="account_balance" [size]="30"></app-icon></a>
</nav>