:root {
  // Observação, a melhor pratica aqui seria não color nome de cor nas cores, 
  // pois se algum dia a cor principal não for mais azul, por exemplo, o nome ficaria errado. 
  //Porém segui a documentação para mais fácil entendimento.
  --ailos: #165C7D;
  --ailos-20: #D0DEE5;
  --ailos-120: #013F5C;
  --ailos-green: #00C246;
  --background: #E8EFF2;
  --white: #ffffff;
  --gray-3: #A7B0B5;
  --gray-4: #889499;
  --danger: #C13018;
}