:host {
    footer {
        height: 90px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        padding-left: 30px;

        app-button + app-button {
            margin-left: 20px;
        }
    }
}