<div class="steps">
    <div class="step" *ngFor="let step of steps; let i = index" [class.first-step]="i === 0"
        [class.last-step]="i === steps.length -1" [class.step--active]="step.active">
        <div class="step__style">
            <div class="step__style__line step__style__line--right"></div>
            <div class="step__style__circle"></div>
            <div class="step__style__line step__style__line--left"></div>
        </div>
        <div class="step__name">
            <p>{{ step.name | slice: 0:15 }}</p>
        </div>
    </div>
</div>