:host {
    .steps {
        display: flex;

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__style {
                display: flex;
                align-items: center;

                &__line {
                    height: 2px;
                    background-color: var(--gray-3);
                    width: 60px;
                }

                &__circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid var(--gray-3);
                }
            }

            &__name {
                font-size: 14px;
                color: var(--gray-3);
            }

            &--active {
                .step__style__circle {
                    border-color: var(--ailos);
                }

                .step__name {
                    color: var(--ailos);
                }
            }

            &.first-step {
                .step__style__line--right {
                    background-color: transparent;
                }
            }

            &.last-step {
                .step__style__line--left {
                    background-color: transparent;
                }
            }
        }
    }
}