:host {
    width: 100%;

    header {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 90px;
        padding: 10px 0px 0px 30px;

        h1 {
            font-family: 'Exo 2', sans-serif;
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}