:host {
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        height: 90px;
        padding: 0px 25px;

        &__title {
            font-family: 'Exo 2', sans-serif;
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__actions {
            display: flex;
            align-items: center;

            app-button {
                padding: 0px 10px;
            }
        }
    }
}