:host {
    ::ng-deep {
        label {
            font-weight: bold;
            font-size: 14px;
        }

        input {
            border: 1px solid #A7B0B5;
            height: 32px;
            min-width: 300px;
            display: block;
        }

        small {
            position: absolute;
            color: #C13018;
            padding-top: 5px;
        }
    }
}