:host {
    ::ng-deep {
        label {
            font-weight: bold;
            font-size: 14px;
        }

        input {
            border: 1px solid var(--gray-3);
            height: 32px;
            min-width: 300px;
            display: block;

            &.ng-invalid {
                border-color: var(--danger);
            }            
        }

        small {
            position: absolute;
            color: var(--danger);
            padding-top: 5px;
        }
    }
}