:host {
    .avatar {
        position: relative;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #165C7D;
        }
    
        app-icon {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}