:host {
    .btn {
        color: var(--white);
        cursor: pointer;
        border: none;
        background-color: var(--ailos);
        font-family: "Open sans";

        &.small-btn {
            padding: 0px 16px;
            height: 32px;
        }

        &.medium-btn {
            padding: 0px 24px;
            height: 48px;
        }

        &.primary-btn {
            &:hover {
                background-color: var(--ailos-120);
            }
        }

        &.secondary-btn, &.tertiary-btn {
            background-color: transparent;
            border: 1px solid var(--ailos);
            color: var(--ailos);
            font-weight: bold;

            &:hover {
                background-color: var(--ailos-20);
            }
        }

        &.tertiary-btn {
            border-radius: 40px;
            height: 30px;
            text-transform: uppercase;
        }
    }
}