<div class="card">
    <div class="card__header">
        <strong>Situação cadastral do CPF</strong>
        <small>Consulta na Receita Federal</small>
    </div>

    <div class="card__line">
        <app-icon icon="person" color="#889499" [size]="25"></app-icon>
        <div>
            <p class="label-name">Nome</p>
            <p class="value">{{ people.name }}</p>
        </div>
    </div>

    <div class="card__line">
        <app-icon [icon]="people.status ? 'check_circle' : 'error'" [color]="people.status ? '#00C246' : '#889499'"
            [size]="25"></app-icon>
        <div>
            <div>
                <p class="label-name">Situação do CPF</p>
                <p class="value">{{ people.status ? 'Regular' : 'Irregular' }}</p>
            </div>
        </div>
    </div>
</div>